.git
.pixi
.idea
.vscode
.pytest_cache
conda-bld
build
dist
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dll
rattler-build-log.txt
*.log
*.json
!opencode.json
!fpbase_test.json
!version.json
modules/*/build
modules/*/b2
notebooks/.ipynb_checkpoints
