[submodule "modules/ndxplorer"]
	path = modules/ndxplorer
	url = https://github.com/fluorescence-tools/ndxplorer
	branch = development
[submodule "modules/clsmview"]
	path = modules/clsmview
	url = https://github.com/fluorescence-tools/clsmview
	branch = main
[submodule "modules/tttrconvert"]
	path = modules/tttrconvert
	url = https://github.com/fluorescence-tools/tttrconvert
	branch = main
[submodule "modules/k2dist"]
	path = modules/k2dist
	url = https://github.com/fluorescence-tools/k2dist
	branch = main
[submodule "modules/fit2x"]
	path = modules/fit2x
	url = https://gitlab.peulen.xyz/skf/fit2x
	branch = master
[submodule "modules/chinet"]
	path = modules/chinet
	url = https://github.com/tpeulen/chinet.git
	branch = development
[submodule "modules/scikit-fluorescence"]
	path = modules/scikit-fluorescence
	url = https://gitlab.peulen.xyz/skf/scikit-fluorescence
	branch = master
[submodule "modules/labellib"]
	path = modules/labellib
	url = https://github.com/fluorescence-tools/labellib
	branch = master
[submodule "modules/quest"]
	path = modules/quest
	url = https://github.com/fluorescence-tools/quest
[submodule "modules/ucfret"]
	path = modules/ucfret
	url = https://gitlab.peulen.xyz/imp/ucfret.git
[submodule "modules/tttrlib"]
	path = modules/tttrlib
	url = https://github.com/fluorescence-tools/tttrlib
	branch = development
