[submodule "modules/clsmview"]
	path = modules/clsmview
	url = https://github.com/fluorescence-tools/clsmview
	branch = main
[submodule "modules/labellib"]
	path = modules/labellib
	url = https://github.com/fluorescence-tools/labellib
	branch = master
[submodule "modules/ndxplorer"]
	path = modules/ndxplorer
	url = https://github.com/fluorescence-tools/ndxplorer
	branch = development
[submodule "modules/quest"]
	path = modules/quest
	url = https://github.com/fluorescence-tools/quest
	branch = master
