[submodule "modules/ndxplorer"]
	path = modules/ndxplorer
	url = https://github.com/fluorescence-tools/ndxplorer
	branch = development
[submodule "modules/quest"]
	path = modules/quest
	url = https://github.com/fluorescence-tools/quest
	branch = master
