include chisurf/structure/potential/database/*.csv
include chisurf/structure/potential/database/*.npy
include chisurf/models/fcs/*.yaml
include chisurf/models/parse/*.yaml
include chisurf/settings/*.yaml
include chisurf/gui/styles/*.css