/* Colored titles for specific docks (shared across all themes) */

QDockWidget#dockWidgetReadData::title {
    background: #3b4a67;
    color: #f0f0f0;
}

QDockWidget#dockWidgetDatasets::title {
    background: #3b674a;
    color: #f0f0f0;
}

QDockWidget#dockWidgetAnalysis::title {
    background: #674a3b;
    color: #f0f0f0;
}

QDockWidget#dockWidgetPlot::title {
    background: #5c3b67;
    color: #f0f0f0;
}


QDockWidget#dockWidgetHistory::title {
    background: #3b6767;
    color: #f0f0f0;
}
